<header>
  <div class="wrapper">
    <h1> TinyApp URL Shortener</h1>
    <nav>
      <ul class="gen-nav">
        <li><a href="/urls">Home</a></li>
        <li><a href="/urls/new">Create a new link</a></li>
      </ul>
      <% if (user == undefined ) { %>
      <div class="login">
        <form action="/login" method="GET">
          <button class='user-button'>Login</button>
        </form>
        <form action="/register" method='GET'>
          <button class='user-button'>Sign up</button></form>
      </div>
      <% } %>
      <% if (user != undefined) { %>
      <div class="logged">
        <p class="user-email">
          Signed in as
          <%= user.userName %>
        </p>
        <form action="/logout" method="POST">
          <button class='user-button'>Log Out</button>
        </form>
      </div>
      <% } %>
    </nav>
  </div>
</header>