<!DOCTYPE html>
<html>

<% include partials/_head %>

<body>
  <div class="wrapper">
    <% include partials/_header %>
    <main>
      <h2>Your Links</h2>
      <ul>
        <% Object.keys(urls).forEach( key => { %>
        <li><a href="#">
            <%= `${key}` %></a> : <a href="#">
            <%= `${urls[key]}`%></a>
          <a href='/urls/<%= key %>' class="edit-button">Edit</a>
          <form method="POST" action='/urls/<%= key %>/delete'><button class='delete-button'>Delete</button></form>
        </li>
        <% }) %>
      </ul>
    </main>
    <% include partials/_footer.ejs %>
  </div>
</body>

</html>