<!DOCTYPE html>
<html>

<% include partials/_head %>

<body>
  <% include partials/_header %>
  <div class="wrapper">
    <main>
      <h2 class='error'>
        <%= errorMessage %>
      </h2>
    </main>
  </div>
  <% include partials/_footer.ejs %>
</body>

</html>