<!DOCTYPE html>
<html lang="en">

<% include partials/_head %>

<body>
  <% include partials/_header %>
  <div class="wrapper">
    <main>
      <form action="/urls" method="POST" style="margin:150px;">
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <button class='update-button'>Submit</button>
      </form>
    </main>
  </div>
  <% include partials/_footer %>

</body>



</html>