<!DOCTYPE html>
<html lang="en">

<% include partials/_head %>

<body>
  <% include partials/_header %>
  <div class="wrapper">
    <main>
      <form action="/urls" method="POST">
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://">
        <button class='update-button'>Create</button>
      </form>
    </main>
  </div>
  <% include partials/_footer %>

</body>



</html>