<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TinyApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <% include partials/_header %>
  <main>
    <h2>Your new link!</h2>
    <li><a href="#">
        <%= `${shortURL} : ${longURL[shortURL]}` %>
      </a></li>
  </main>
</body>

</html>