// General styles
body {
  text-align: center;
  background-color: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin: 0;
  margin: 20px;
}

ul {
  list-style: none;
}

main {
  width: 100%;
}

li {
  margin: 15px 0;
  height: $std-height;
}
a {
  color: black;
  text-transform: none;
}
p {
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

//Specific styles
header {
  background-color: $black;

  h1,
  a {
    color: $white;
    text-decoration: none;
  }
  a:hover {
    color: orange;
    transition: $trans;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    ul,
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
label {
  margin-left: 10px;
}
.registration {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  input {
    margin: 10px 0;
  }
  button {
    margin: 10px 0;
  }
}
.logged {
  flex-direction: column;
  justify-content: space-around;

  button {
    padding: 0 10px;
    height: 35px;
  }
}
.gen-nav li {
  margin: 0 20px;
  display: flex;
  align-items: center;
}
.login form {
  margin: 10px;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-button {
  color: orange;
}
.user-button:hover {
  color: $black;
  background-color: orange;
  transition: $trans;
}

button {
  border: $std-border;
  background-color: white;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: normal;
  height: $std-height;
  padding: 10px 15px;
  display: inline-block;
  border-radius: $std-radius;
}
.delete-button:hover {
  background-color: red;
  transition: $trans;
}

form {
  display: inline-block;
}
footer {
  padding: 20px;
  background-color: $black;
  p {
    color: $white;
  }
}
input {
  height: $std-height;
  text-align: center;
  border-radius: $std-radius;
  border: $std-border;
  color: rgb(235, 192, 112);
  width: 300px;
  margin: 10px 0;
}
input::placeholder {
  text-align: center;
  color: rgb(235, 192, 112);
}

input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 10px 10px;
}
.error {
  color: red;
}
.user-email {
  color: orange;
}
.bold {
  font-weight: bold;
}
.update-button:hover {
  background-color: lightgreen;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.edit-button {
  border: $std-border;
  background-color: white;
  padding: 11.5px 15px;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  margin: 0px 15px;
  border-radius: $std-radius;
}
.edit-button:hover {
  background-color: lightblue;
  transition: $trans;
}
