// Compress the images
body {
  text-align: center;
  background-color: $white;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin: 0;
  margin: 20px;
}
header {
  background-color: $black;

  h1,
  a {
    color: $white;
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

main {
  width: 100%;
}

li {
  margin: 15px 0;
  height: $std-height;
}
a {
  color: black;
  text-transform: none;
}
p {
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

button {
  border: $std-border;
  background-color: white;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: normal;
  height: 100%;
  padding: 10px 15px;
  display: inline-block;
  border-radius: $std-radius;
}
button:hover {
  background-color: red;
  transition: $trans;
}

form {
  display: inline-block;
  height: $std-height;
}
footer {
  padding: 20px;
  background-color: $black;
  p {
    color: $white;
  }
}
input {
  height: 100%;
  border-radius: $std-radius;
  border: $std-border;
}

input[type='text'] {
  width: 300px;
  padding: 0 10px;
}
.bold {
  font-weight: bold;
}
.update-button:hover {
  background-color: lightgreen;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.edit-button {
  border: $std-border;
  background-color: white;
  padding: 11.5px 15px;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  margin: 0px 15px;
  border-radius: $std-radius;
}
.edit-button:hover {
  background-color: lightblue;
  transition: $trans;
}
