html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  font-family: $font-primary;
  font-weight: normal;
}

button {
  font-family: $font-primary;
  font-size:1.7rem;
  font-weight: 700;
}
h1,
h2,
h3 {
  font-weight:700;
}