// Fonts
$font-primary: sans-serif;
$font-secondary: serif;

// Transitions
$trans: all 0.5s linear;

// Colors
$white: #f5f5f5;
$black: #191919;
// Sizes

$std-height: 50px;
$std-radius: 10px;

//Border

$std-border: 2px solid black;
